@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');

.create-wrapper{
    height:100vh;
    position:relative;
    font-family: 'Autour One', cursive;
    /* background: linear-gradient(344deg, rgba(2,0,36,1) 0%, rgba(124,124,244,0.7) ); */
}

.create-fields-wrapper{
    padding-top: 80px;
    display:flex;
    flex-direction: column;
    margin:auto;
    width:500px;
}

.create-heading{
    font-weight: bold;
    display:block;
    text-align: center;
    margin-bottom: 30px;
    font-size: 22px;
}

.create-label{
    font-size: 15px;
    display: inline-block;
    margin-bottom: 5px;

}

.create-input-text{
    margin-bottom:15px;
    border:none;
    border-bottom: 0.5px solid #514ba2;
    width: 100%;
    font-size: 16px;
}

.create-input-text:focus{
    outline: 0px;
    border-bottom: 2px solid #514ba2;
}

.create-input-text::placeholder{
    opacity:0.55;
    font-size: 15px;
    transition: 0.2s ease-in-out;
}

.create-input-text:focus::placeholder{
    opacity:0.55;
    font-size: 16px;
}


.create-button,.upload-button{
    background: #514ba2;
    color: white;
    padding:10px 15px; 
    border-radius: 30px;
    border:none;
    cursor:pointer;
    display: block;
    margin-top:25px;
    font-weight: bold;
}

.image-choosen{
    font-family: sans-serif;
    display:block;
    margin: 10px 0px 5px 10px;
}

.upload-button{
    width:max-content;
    font-size: 10px;
}

.create-button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.error{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: red;
    margin-top:20px;
    display:block;
}

.sucess{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: green;
    margin-top:20px;
    display:block;
    margin-left: 10px;
}

.create-button{
   width:50%; 
   margin: auto;
   margin-top: 50px;
   font-size: 16px;
   padding: 15px;
}

input[type="file"] {
    display: none;
}

.image-preview{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

@media (max-width:767px){
    .create-fields-wrapper{
        width:90%;
    }

    .create-button{
        width:80%;
    }
}


.loading-overlay{
    position:fixed;
    top:0px;
    left:0px;
    bottom: 0px;
    right:0px;
    background: #0000009e;
    display:flex;
    align-items: center;
    justify-content: center;
    display:flex;
    align-items: center;
    justify-content: center;
}

.loading-card{
    width:300px;
    background:white;
    text-align: center;
    padding:20px 0px;
    border-radius: 5px;
}